Source: mtp2lastfm
Section: net
Priority: optional
Maintainer: Andrea Burattin <andrea@delas.it>
Build-Depends: libc6-dev (>= 2.7-10ubuntu4 ), libmtp-dev (>= 0.2.6.1-2ubuntu1 ), libusb-dev (>= 2 ), linux-libc-dev (>= 2.6.24-21.43 )
Standards-Version: 3.7.2

Package: mtp2lastfm
Architecture: i386
Depends: libc6 (>= 2.7-10ubuntu4 ), libacl1 (>= 2.2.45-1 ), libattr1 (>= 1 ), libc6 (>= 2.7-10ubuntu4 ), libc6-i686 (>= 2.7-10ubuntu4 ), libcomerr2 (>= 1.40.8-2ubuntu2 ), libgcc1 (>= 1 ), libgcrypt11 (>= 1.2.4-2ubuntu7 ), libgpg-error0 (>= 1.4-2ubuntu7 ), libkeyutils1 (>= 1.2-4 ), libncurses5 (>= 5.6+20071124-1ubuntu2 ), libselinux1 (>= 2.0.55-0ubuntu4 ), libstdc++6 (>= 4.2.4-1ubuntu3 ), locales (>= 2.7.9-4 ), xsdcxx (>= 3.1.0-1 ), libmtp7 (>= 0.2.6.1-2ubuntu1 )
Description: Last.fm scrobbling of the music in your MTP device.
 With this software you can scrobble all the music you listen in your MTP-capable device to yout Last.fm account. You can take your Last.fm account updated with your music preferences also when you aren't at your PC.
